<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bridesmaid.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bridesmaid</name>
    <description>
        Bridesmaid - Wedding Helper and planner
    </description>
    <author email="arz2030@gmail.com" href="http://websys3.stern.nyu.edu/websysF14GB/websysF14GB3/WWW/INDEX.HTML">
        Our Team
    </author>
    <content src = "index.html" />
	<access origin = "*" />
</widget>
