body{background-color: #FFF; color: #555;}
a:link{color:#3399CC;}
a:visited{color:#3CC;}
img{border-style:outset; border-width:medium; border-color:#FFFFFF;}
#banner{width:60em; border:none;}
#registerform{align:center;}
#weddingselection{display: none;}
#inspedittext{display: none;}
#inspeditform{display: none;}
#edittext{display: none;}
#editform{display: none;}
table{border: 1px solid black; background-color:#FFF;}
th{border: 1px solid black; padding-left:25px;padding-right:25px;padding-top:9px;padding-bottom:9px;white-space:nowrap}
td{border: 1px solid black; padding-left:25px;padding-right:25px;padding-top:9px;padding-bottom:9px; white-space:nowrap; text-align:center;}
textare{width:70%, height:40%;}
.cat{background-color: #333; color: #FFF; float: left; width: 10em; height: 10em; margin-left: 3em; margin-top: 3em;}
.cattext{text-align: center; margin-top: 4em;}
.cat:hover{background-color: #666;}
.picsmall{width: 10%; margin: 2px;}
.picbig{width: 80%; margin: 2px;}
div#maincontent{position:absolute; top:215px;left:200px; width:800px;}
div#nologmaincontent{top:215px;}
nav{position:absolute; top:215px;left:0px;width:180px; margin-left:10px; text-align:center;}
nav p{display:block; background-color:#666; color: #FFF; border-style:solid; border-width:thin; border-color:#222;}
nav a{display:block; background-color:#CCC; border:#666;borders-width:thin; padding-left:20px; padding-right:20px; padding-top:7px; padding-bottom:7px;border-style:solid; border-width:thin; border-color:#FFFFFF; text-decoration:none;}
nav a:hover{background-color:#306}
nav a:link{color:#FFFFFF;}
nav a:visited{color:#FFFFFF;}